<ion-header>
  <ion-toolbar>
    <ion-title>
Ana Sayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-item>
  <ion-label position="floating">Adınız</ion-label>
  <ion-input [(ngModel)]="userData.ad"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Soyadınız</ion-label>
  <ion-input [(ngModel)]="userData.soyad"></ion-input>
</ion-item>



<br>

<ion-button expand="block" color="secondary" (click)="tamam()">Tamam</ion-button>

<ion-button [routerLink]="['/detay']">Go to detail</ion-button>

<ion-button (click)="presentAlertPrompt()">Kaydet</ion-button>


<br>

</ion-content>
